option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:467880814032:certificate/6761d940-a9a7-4ef8-9743-4d4c56df9de1
  
  aws:elbv2:loadbalancer:
    SecurityGroups: sg-0e1cdf93816755a28

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role